body{
box-sizing: border-box; 
color:black;
display: flex;
justify-content: center;
}
.rodape{
position: fixed;
left:0 ;
color: black;
background-color: white;
padding: 0% 00% 0% 0% ;
width: 100%;
font-size: 20px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
.container_superior{
width:100%;
height: 100px ;   
margin: 0px;
padding: 5px;
display: flex;
align-items: stretch;
justify-content: center;
flex-direction: row;
font-family: Arial, Helvetica, sans-serif;
}
.primeiro_box{
display: flex;
width: 500px;
height: 570px ;
background-color: #C4C8BA;
align-items: stretch;
flex-direction: column;
padding: 200px;
}
.primeiro_frase{
align-items: baseline;

}
.botao1{
    align-items: flex-end;
}
.botao{
    box-sizing: border-box;
    border: none;
    width: 300px;
    height: 50px;
    background-color: #238662;
    color: white;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 5px;
  }
  .botao:hover{
  background: none;
  border: #ececec 3px solid;
  color: rgb(12, 207, 214);
  border-radius: 5px;
  }





