body{
box-sizing: border-box; 
color:black;
display: flex;
justify-content: center;
flex-direction: column;
}

.rodape{
position: fixed;
left:0px ;
color: black;
background-color: white;
padding: 0% 00% 0% 0% ;
width: 100%;
font-size: 20px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
text-align:center;
}

.container_superior{
width:1660px;
height: 700px ;   
margin: 0px;
padding: 0px;
display: flex;
justify-content: space-between;
flex-direction: row;
font-family: Arial, Helvetica, sans-serif;
background-color:#238662;
}

.primeiro_box{
display: flex;
width: 600px;
height: 420px ;
background-color: #C4C8BA;
flex-direction: column;
padding: 180px;
justify-content:space-around;
align-content: stretch;
}

.primeira_frase{
font-size: 25px;
}

.botao1{
align-items: flex-end;
}

.botao{
box-sizing: border-box;
border: none;
width: 300px;
height: 50px;
background-color: #238662;
color: white;
cursor: pointer;
transition: 0.7s;
border-radius: 9px;
}

.botao:hover{
background-color:#30c58e ;
border: #ececec 3px solid;
color: rgb(195, 236, 236);
border-radius: 9px;
}

.imagem_moca{
display: flex;
justify-content:center;
align-items:stretch; 
}

.container_inferior{
width:1660px;
height: 500px ;   
margin: 0px;
padding: 0px;
display: flex;
align-items: stretch;
justify-content: center;
flex-direction: row;
font-family: Arial, Helvetica, sans-serif;
background-color:#238662;
color: white;
}
.segundo_box{
  display: flex;
  width: 600px;
  height: 200px ;
  background-color: #238662;
  flex-direction: column;
  padding: 180px;
  justify-content:space-around;
  align-content: stretch;
}

.texto2{
font-size: 20px;
justify-content: flex-end;
}

.botao2{
  align-items: flex-end;
  }
  
.botao02{
  box-sizing: border-box;
  border: none;
  width: 300px;
  height: 50px;
  background-color: #238662;
  color: white;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 9px;
  }
  
  .botao02:hover{
  background-color:#30c58e ;
  border: #ececec 3px solid;
  color: rgb(195, 236, 236);
  border-radius: 9px;
  }


    /*
display: flex;
width: 600px;
height: 330px ;
background-color: #C4C8BA;
align-items: stretch;
flex-direction: column;
padding: 180px;
justify-content:center;
//*
