body{
box-sizing: border-box;
background-color: #238662;  
color:black;
}
.rodape{
position: fixed;
left:0 ;
color: black;
background-color: white;
padding: 0% 00% 0% 0% ;
width: 100%;
font-size: 20px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
.container{
    margin: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
